/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 jun 2023, 05:06:49
    Author     : manue
*/

body{ /*imagen azul de fondo*/
/*    background-image: url(../imagen/fondo.svg);*/
    background-repeat:no-repeat;
    background-position-x:center;
}

html{
    width: 100vw;
    height: 100vh;
}


.header{
    height: 100px;
}

.header li{
    font-size: 18px;
    text-shadow: 1px 1px 0.5px white;
    color: white;
}

.footer{
    height: 100px;
}

.footer li{
    font-size: 13px;
    text-shadow: 1px 1px 0.5px white;
    color: white;
}