<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
    <head>
        <title>Eliminar Profesional</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/eliminar.css}" />
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" th:href="@{https://cdn0.iconfinder.com/data/icons/scenarium-vol-10/128/015-512.png}">
        <link rel="stylesheet" th:href="@{/css/eliminar.css}" />
                <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <section class="header">
            <nav th:replace= "/fragments/navbar :: nav"></nav>
        </section>

        <main class="d-flex flex-column  text-center mt-4">

            <h3 class="titulo_eliTurno mb-4">Eliminar Profesional</h3>

            <div class="conte_turno m-auto">
                <form class=" conte_turno " th:action="@{/profesional/eliminado/__${profesional.id}__}" method="POST">

                    <div class="conte_dtsTurno">
                        <label class="justify-content-center "><strong>ID Del Profesional</strong></label>
                        <div class="col-sm-12">
                            <input type="text" 
                                   readonly 
                                   class="form-control-plaintext justify-content-center" 
                                   name="id" 
                                   th:value="${profesional.id}">
                        </div>
                    </div>

                    <div class="form-group cont-eliTurno ">
                        <div class="form-group m-auto titulo_eliTurno "> 
                            <label><strong>DATOS DEL PROFESIONAL</strong></label> 

                            <div class="form-group m-auto my-3"> 
                                <label class="mb-2">Apellido y Nombre del Profesional</label> 
                                <!-- input es para ingresar el nombre del autor  -->
                                <input type="text" 
                                       class="form-control" 
                                       readonly
                                       th:value="${profesional.apellido}+', '+ ${profesional.nombre}">
                            </div>
                            <div class="form-group m-auto my-3"> 
                                <label class="">Número de Documento del Profesional</label> 
                                <!-- input es para ingresar el nombre del autor  -->
                                <input type="text" class="form-control" readonly th:value="${profesional.dni}">
                            </div>
                            <div class="form-group m-auto my-3"> 
                                <label class="">Matricula Profesional</label> 
                                <!-- input es para ingresar el nombre del autor  -->
                                <input type="text" class="form-control" readonly th:value="${profesional.matricula}">
                            </div>
                            <div class="form-group m-auto my-3"> 
                                <label class="">Establecimiento</label> 
                                <!-- input es para ingresar el nombre del autor  -->
                                <input type="text" class="form-control" readonly th:value="${profesional.nombreEstablecimiento}">
                            </div>
                        </div>
                    </div>

                    <div class=" text-center container boton">
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                    <div class=" text-center container mb-3 boton-v">
                        <button type="submit" class="btn btn-primary">Volver</button>
                    </div>
                </form>
            </div>
        </main>

        <div class="container footer">
            <footer th:replace= "/fragments/footer :: footer"></footer>
        </div>


        <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>   
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>